
body{
    background-color: #E4E6EB;
}
.middle{
    display: grid;
    justify-self: center;
}
.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.font-nav{
    margin-left: 30px;
    margin-bottom: 10px;
}
h1{
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; 
    text-transform: capitalize;
}
h2{
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; 
    text-transform: capitalize;
}
h3{
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; 
    text-transform: capitalize;
    
}

.yellow-bar{
    margin-top: 0px;
    margin-bottom: 6px;
    background-color: #FFB400;
    height: 4px;
    border-radius: 10px;
}
.left-part{
    width: 108px; height: 1315px; background-color: white; padding-top: 50px;
}
